body{
    height: 100vh;
    overflow: hidden;
}
.container_login{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #fafafa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container_login .center{
  width: 425px;
  padding: 30px 45px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.container_login .center .icon{
    padding: 20px 0;
  border-bottom: 1px solid silver;
  }
  .container_login .center form{
    padding: 0 40px;
  
  }
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
   .txt_fieldspan::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  } 
    .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
   }  .txt_fieldinput:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }    
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
  }
  .signup_link a:hover {
    text-decoration: underline;
  }
 
.center .social-btns-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px ;
}
 
.center .social-btns-container .social-google{
  display: flex;
  justify-content:flex-start;
  background-color: #2691D9;
  padding: 10px 0;
  border-radius: 25px;
}
.center .social-btns-container a{
  border-radius: 25px;
  border: 1px solid white;
  margin-top: 5px;
}
.center .social-btns-container a:hover{
   transition: 0.5s;
   border: 1px solid #2691D9;
}
.center .social-btns-container .social-google i,.center .social-btns-container .social-facebook i{
  color:  #fff;
  font-size: 25px;
  margin-left: 10px;
}
.center .social-btns-container .social-google p,.center .social-btns-container .social-facebook p{
   margin-left: 15px;
   color: #fff;
   font-weight: 700;
 
  
}
 
.center .social-btns-container .social-facebook{
  display: flex;
  justify-content:flex-start;
  background-color: #2691D9;
  padding: 10px 0;
  border-radius: 25px;
}
 /*kaydol*/

 .names{
   display: flex;
   justify-content: flex-start;

 }
 .names .txt_field:last-child{
 margin-left: 5px;
 }